html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  font-family: "Rubik";
  margin: 0;
  padding: 0; }

html,
body {
  min-height: 100vh;
  min-width: 100vw;}

body {
  background-color: #2d3740;
  display: flex;
  flex-flow: row; }
